body{
    font-family: Arial;
    background:#f4f4f4;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.container{
    background:white;
    padding:30px;
    border-radius:10px;
    box-shadow:0 0 10px gray;
    text-align:center;
}

input[type="password"],
input[type="text"]{
    width:250px;
    padding:10px;
    margin-top:10px;
    font-size:16px;
}

.show{
    margin-top:10px;
}

#strength{
    margin-top:15px;
    font-weight:bold;
}